<ion-view view-title="Add Team">
	
	<ion-content>
		<div class="row">
			<div class="col">
				<label class="item item-input">
					<input type="text" placeholder="Team Name" ng-model="vm.teamName">
				</label>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row">
			<div class="col">
				<button ng-click="vm.addTeam()" class="button button-block button-calm">Add Team</button>
			</div><!-- /.col -->
			
			<div class="col">
				<button ui-sref="app.index" class="button button-block button-assertive">Cancel</button>
			</div><!-- /.col -->			
		</div><!-- /.row -->		
	</ion-content>

</ion-view>