<ion-view view-title="Edit Team">

	<ion-nav-bar class="bar-calm">

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
			</button>
		</ion-nav-buttons>
		
	</ion-nav-bar>

	
	<ion-content>
		<div class="row">
			<div class="col">
				<label class="item item-input">
					<input type="text" ng-model="vm.currentTeam.name">
				</label>
			</div><!-- /.col -->
		</div><!-- /.row -->

		<div class="row">
			<div class="col">
				<label class="item item-input">
					<input type="number" ng-model="vm.currentTeam.score">
				</label>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row">
			<div class="col">
				<button ng-click="vm.updateTeam();" class="button button-block button-calm">Save</button>
			</div><!-- /.col -->

			<div class="col">
				<button ui-sref="app.teams" class="button button-block button-assertive">Cancel</button>
			</div><!-- /.col -->

		</div><!-- /.row -->
		
	</ion-content>

</ion-view>
