<ion-nav-view>
	<ion-view view-title="Teams" class="background-overlay">

		<ion-header-bar>
			<ion-nav-bar class="bar-calm">
				
				<ion-nav-title>Teams</ion-nav-title>

				<ion-nav-buttons side="left">
					<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
					</button>
				</ion-nav-buttons>

			</ion-nav-bar>
		</ion-header-bar>

		<ion-content>
		
			<div class="current-game-container">

				<ion-list ng-if="vm.teams.length" type="list-inset">
					<ion-item ng-repeat="team in vm.teams track by $index">
						<h3>
							<strong ng-bind="team.name"></strong>
							<span>Current score: <span ng-bind="team.score"></span></span>
						</h3>

						<ion-option-button class="button-calm" ui-sref="app.edit-team({teamId: $index})">
							Edit
						</ion-option-button>
						
						<ion-option-button class="button-assertive ion-close-circled" ng-click="vm.removeTeam($index)">
	    				</ion-option-button>
					</ion-item>
					
				</ion-list>
				
				<div class="row">
					<div class="col">
						<button class="button button-block button-calm ion-android-contacts" ui-sref="app.add-team">
							Add Team
						</button>

						<button ng-if="vm.teams.length" ui-sref="app.round" class="button-block button-calm button">New Round</button>
					</div><!-- /.col -->
				</div><!-- /.row -->
				
			</div><!-- /.current-game-container -->
			
		</ion-content>

	</ion-view>
</ion-nav-view>	