<ion-view view-title="Find A Movie" class="background-overlay">
	<ion-header-bar>
		<button>Test</button>
	</ion-header-bar>

	<ion-content>

		<div class="search-screen">

			<button class="button" ui-sref="app.settings">Settings</button>
			
			<div class="row">
				<div class="col">
					<label class="item item-input">
						<input type="text"  ng-model="vm.searchPhrase" placeholder="Search by keywords">
					</label>
				</div><!-- /.col -->	
			</div><!-- /.row -->

			<div class="row">
				<div class="col">
					<button ng-click="" class="button button-block button-calm">Search</button>
				</div><!-- /.col -->
			</div><!-- /.row -->
			
		</div><!-- /.search-screen -->

	</ion-content>
</ion-view>