<ion-view view-title="Search Settings" class="background-overlay">
	<ion-nav-bar class="bar-calm">

		<ion-nav-back-button class="button-clear">
			<i class="ion-arrow-left-c"></i> Back
		</ion-nav-back-button>
		
	</ion-nav-bar>
	
	<ion-content>
		
		<div class="setting-panel">
			
			<div class="list card">
				<div class="item item-divider">
					Search For: 	
				</div>

				<div ng-repeat="(key, value) in vm.types" style="text-transform: capitalize;">
					<ion-checkbox ng-model="vm.types[key]">{{key}}</ion-checkbox>
				</div>
			</div><!-- /.list-card -->

			<div class="list card">
				<div class="item item-divider">
					Year
				</div>
				
				<label class="item item-input">
					<input ng-model="vm.year" type="number" placeholder="Movie Year">
				</label>
			</div><!-- /.list-card -->

			<div class="row">
				<div class="col">
					<button ng-click="vm.save()" class="button button-calm button-block">Done!</button>
				</div><!-- /.col -->
			</div><!-- /.row -->

		</div><!-- /.setting-panel -->

	</ion-content>
</ion-view>