.left { float: left; }
.right { float: right; }

.menu-wrapper,
.scroll-content {  background-color: rgba(255,255,255,0.5); }
.menu .scroll-content { background: #fff url(../img/side-bg.jpg) no-repeat center center; background-size: cover; }

.item,
.item-complex .item-content, .item-radio .item-content { background-color: transparent; color: #000; }
.background-overlay { background: url(../img/bg.jpg); background-position: center center; background-size: cover; }

.item  { border-color: #aeaeae; }

.current-game-container h3 { font-size: 16px; }
.current-game-container h3 span { font-weight: normal; font-size: 12px; float: right; }
.current-game-container h3 span span { margin-left: 5px; }

.ng-hide-add, .ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  transition: 0s linear all;
}

.ng-hide-add-active,
.ng-hide-remove-active {
  /* the transition is defined in the active class */
  transition: 1s linear all;
}

.svg.radial-progress {
  position: relative;
  display: inline-block;
}

svg {
  transform: rotate(270deg);
}

circle {
  stroke-width: 2em;
  fill: transparent;
  transform: rotate(0.1deg); // to fix Firefox
}

.radial-progress-background {
  stroke: orange;
}

.radial-progress-cover {
  stroke: #DEDEDE;
  stroke-width: 2.01em;
    border: 12px solid red;
}

.radial-progress-center {
  fill: #CCC;
}

.radial-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}