<ion-view view-title="Home" class="background-overlay">
	
	<ion-nav-bar class="bar-calm">

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
			</button>
		</ion-nav-buttons>
		
	</ion-nav-bar>

	<ion-content>
		
		<div class="row">
			<div class="col">
				<button ng-if="vm.currentGame.started" ui-sref="app.round" class="button button-block button-calm">
					Start New Round
				</button>

				<button ng-if="vm.currentGame.started" ui-sref="app.search" class="button button-block button-calm">
					Pick a Movie
				</button>

				<button ng-if="vm.currentGame.started" ui-sref="app.teams" class="button button-block button-calm">
					Manage Teams
				</button>

				<button ng-if="!vm.currentGame.started && vm.currentGame.teams.length != 0" ng-click="vm.resume()" class="button button-block button-calm">
					Continue Last Game
				</button>	

				<button ng-if="!vm.currentGame.started" ng-click="vm.start()" class="button button-block button-calm">
					Start New Game
				</button>

				<button ng-if="!vm.currentGame.started && vm.currentGame.teams.length != 0" ui-sref="app.scores" class="button button-block button-assertive">
					View Last Game Scores
				</button>	
			</div><!-- /.col -->
		</div><!-- /.row -->

		<div class="row">
			<div class="col">
				<button ng-if="vm.currentGame.started" ng-click="vm.end()" class="button button-block button-assertive">
					End Game
				</button>	
			</div><!-- /.col -->
		</div><!-- /.row -->
		
	</ion-content>

</ion-view>